@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Lobster&display=swap');
$primary:#570909;
$primary-overlay:rgba(87,9,9,0.7);
$responsive:768px;

.font1{
    font-family: 'Fascinate', cursive;
}

.font2{
    font-family: 'Lobster', cursive;
}


body{
    margin-top: 110px;
}
.navbar{
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background-color: white;

    .nav-item{
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

#showcase{
    position: relative;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 680px;

    .primary-overlay{
        background-color: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}

.info-header{
    width: 70%;
    margin: auto;
    border-bottom: 1px dashed $primary;
}

#members{
    img{
        margin-top: -50px;
    }
    .card:hover{
        background-color: $primary;
        color:white;
    }
    .card:hover h3{
        color: white !important;
    }
    .card:hover .fa-brands{
        color: white;
    }

}

.textarea-fix{
    resize: none;
}

.fa-solid{
    color:$primary;
}

#main-footer{
    p{
        font-size: 25px;
    }
}
@media (max-width:$responsive){
    .mb-responsive{
        margin-bottom: 1rem;
    }
}